<html ng-app>
	<head>
		<script src="angular.min.js"></script>
		<script src="a.js"></script>
	</head>
	<body>
		<div ng-controller="helloController">
			<input ng-model='greeting.text'/>
			<p>{{greeting.text}}, world!</p>
			<div ng-repeat="bloque in estimation.blocks">
				<h2>{{bloque.name}}</h2>
				<table>
					<tr><td><b>Total:</b></td><td><b>{{blockTotalEffort(bloque)}}</b></td></tr>
				</table>
				<div ng-repeat="componente in bloque.components">
					<h3>{{componente.name}}</h3>
					<p>Descripcion: <em>{{componente.description}}</em>
					<br>Coste total: <em>{{componentTotalEffort(componente)}}
					<table>
						<tr ng-repeat="elemento in componente.elements">
							<td><b><input ng-model="elemento.nominal"/></b></td>
							<td>Ponderacion:<input ng-model="elemento.ponderation"/></td>
							<td>Cantidad:<input ng-model="elemento.quantity"/></td>
							<td>Esfuerzo Total: {{componentElementTotalEffort(componente,elemento)}}</td>
							<td><button ng-click="removeComponentElement(componente.elements,$index)">-</button></td>
						</tr>
						<tr><button ng-click="addEmptyComponentElement(componente.elements)">+</button></tr>
					</table>
					<table>
						<tr ng-repeat="task in componente.tasks">
							<td>Tarea: <input ng-model="task.name"/></td>
							<td>Jornadas (media): <input ng-model='task.cost'/></td>
							<td>Perfil recomendado: <input ng-model='task.profile'/></td>
							<td>Total: {{taskPartial(componente, $index)}}</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</body>
</html>